# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Logs and reports
logs/
*.log
reports/
*.html

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
